/* colours we are using : 
#88A0A4 for header/footer and banners (see in visual design)
#FFFFFF for link/nav/text on darker backgrounds
#A5BCC0 for boxes/buttons
#D0E0E3 for background colour
#000000 for text*/

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

/* GENERAL BACKGROUND COLOURS! */
main{
    background-color: #D0E0E3;
    height: 80vh;
}

header{
    background-color: #88A0A4;
    height: 10vh;
}

footer{
    background-color: #88A0A4;
    height: 10vh;
}

/* HEADER */
nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav > a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
}

